In [9]:
import pandas as pd
import numpy as np

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
df=pd.read_csv("upto2017.csv")

In [6]:
vectorizer=TfidfVectorizer(ngram_range=(1,2))
tfidf=vectorizer.fit_transform(df['combined'])

In [11]:
def reclist(name):
    movie_name=vectorizer.transform([name])
    similarity=cosine_similarity(movie_name,tfidf)
    s=similarity.flatten()           # similarity was of shape(1,5043)-2d. So, we change it to 1-d (5043,)
    index=(np.argsort(s)[-10:])
    return df.loc[index,['movie_title','genres']]

In [13]:
reclist(input("Enter the movie name "))

Enter the movie name the 40-year-old virgin

,movie_title,genres
1365,virgin territory,Adventure Comedy History Romance
1885,no country for old men,Crime Drama Thriller
1430,this is 40,Comedy
1431,old dogs,Comedy Family
2026,old school,Comedy
4832,old joy,Drama
3618,the virgin suicides,Drama Romance
2498,40 days and 40 nights,Comedy Romance
4472,the 41-year-old virgin who knocked up sarah ma...,Comedy
1834,the 40-year-old virgin,Comedy Romance